:root {
  --darkBlue: #2958e5;
  --mediumBlue: #a5b5e5;
  --lightBlue: #f5f7ff;
  --gray: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 60rem) [main-end]
    minmax(1em, 1fr) [full-end];
}
header {
  grid-column: full;
  background-color: #a4c8fa;
  width: 100%;
  height: 15rem;
}

main > * {
  grid-column: main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiDataGrid-root {
  white-space: normal !important;
}

.MuiDataGrid-cell {
  line-height: normal !important;
  overflow: auto !important;
  white-space: normal !important;
  padding: 1rem !important;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: brown;
  width: 20rem;
  margin: 0.2rem;
  font-size: 1rem;
  padding-left: 2rem;
}

.button:first-child {
  margin-top: 0.5rem;
}

.header {
  background-color: #a4c8fa;
  height: 15rem;
}

.container {
  display: flex;
}

.search {
  width: 35rem;
  padding: 1rem;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.box-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-self: center;
  flex-wrap: wrap;
  padding: 1rem;
  height: 26rem;
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 26rem;
}

.main-boxes {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f5f7ff;
  color: #2958e5;
}

/* Card */

.card {
  /* border: 1px solid grey; */
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
}

.dates {
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; */
  display: grid;
  grid-template-columns:
    [start] minmax(14rem, 14rem) [middle] minmax(1rem, 1fr)
    [second] minmax(1rem, 1fr) [last] minmax(1rem, 1fr);
}

h2,
h3 {
  margin: 0 0 0 0;
}

.publishedby {
  margin: 0 0 2rem 0;
}

div > p,
label {
  margin: 0.3rem 0 0 0;
  font-size: 1.3rem;
}

.town {
  display: flex;
  grid-column: last;
  color: #bdbdbd;
  justify-content: flex-end;
  align-items: flex-end;
}

h4 {
  background-color: #f5f7ff;
  padding: 1rem;
}

input {
  width: 20px;
}

a {
  display: flex;
  justify-content: center;
}
.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  background-color: var(--lightBlue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
}

.category-card > h3,
a,
p {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.category-card > h3 {
  color: var(--darkBlue);
}
.category-card > p {
  color: var(--gray);
  font-weight: 400;
}
