:root {
  --darkBlue: #2958e5;
  --mediumBlue: #a5b5e5;
  --lightBlue: #f5f7ff;
  --gray: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 60rem) [main-end]
    minmax(1em, 1fr) [full-end];
}
header {
  grid-column: full;
  background-color: #2958e5;
  width: 100%;
  height: 10rem;
}

main > * {
  grid-column: main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDataGrid-root {
  white-space: normal !important;
}

.MuiDataGrid-cell {
  line-height: normal !important;
  overflow: auto !important;
  white-space: normal !important;
  padding: 1rem !important;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: brown;
  width: 20rem;
  margin: 0.2rem;
  font-size: 1rem;
  padding-left: 2rem;
}

.button:first-child {
  margin-top: 0.5rem;
}

.detail-container {
  display: flex;
  padding-top: 2rem;
}

.headline {
  margin-bottom: 1rem;
}

.search {
  width: 32rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  
}

.searchbar {
  width: 32rem;
  padding: 1rem;
  border: 0px;
  margin-bottom: 2rem;
  background-color: var(--lightBlue);
  
}

::placeholder {
  color: blue;
  opacity: 0.5;
}

.home-container {
  padding-top: 2rem;
}

.head {
  margin-left: 1rem;
  width: 96%;
}

.box-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-self: center;
  flex-wrap: wrap;
  padding: 0rem;
  height: 26rem;
  margin-left: 0rem;
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26rem;
}

.main-boxes {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f5f7ff;
  color: #2958e5;
  text-decoration: none;
}

/* Card */

.card {
  /* border: 1px solid grey; */
  margin-top: 1.4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card:nth-child(odd) {
  background: #f5f7ff;
}

.dates {
  display: grid;
  grid-template-columns:
    [start] minmax(14rem, 14rem) [middle] minmax(1rem, 1fr)
    [second] minmax(1rem, 1fr) [last] minmax(1rem, 1fr);
}

h2,
h3 {
  margin: 0 0 0 0;
}

.publishedby {
  margin: 0.5rem 0 0.5rem 0;
}

.town {
  display: flex;
  grid-column: last;
  color: #bdbdbd;
  justify-content: flex-end;
  align-items: flex-end;
}

h4 {
  background-color: #f5f7ff;
  padding: 1rem;
}

input {
  width: 20px;
}


/* .categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1500px;
  align-items: baseline;
} */

.categories {
  width: 100%;
  column-count: 2;
  column-gap: 1em;
}

.category-card {
  background-color: var(--lightBlue);
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
}

.category-card a,
p {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: black;

}

.category-card h3 {
  color: var(--darkBlue);
  padding-bottom: 1rem;
}

.category-card > p {
  color: var(--gray);
  font-weight: 400;
}

.subcheckboxes {
  margin-left: 1rem;
}

/* --- detailed list --- */

.cpv-sort {
  
}

.info-container {
  
}

.cpv-button {
  background-color: #2958e5;
  color: white;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: 0;
}

#detail-search {
  width: 20rem;
  margin-top: 1rem;
}

.checkbox-input {
  
}

.check-label {
  margin-left: 1.7rem;
  margin-top: -1.2rem;
  display: block;
  line-height: 20px;
}

.check-container {
  /* width: 35px;
  height: 35px;
  cursor: pointer; */
}

.check-container .checkmark {
  /* width: 35px;
  height: 35px;
  border: 2px solid black;
  display: inline-block; */
}
